---
permissions:
  contents: write
  pull-requests: write

name: Release Please

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        with:
          release-type: simple
          package-name: rocks.nvim
          signoff: "Marc Jakobi<marc@jakobi.dev>"
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
